In [2]:
import pandas as pd
from flask import jsonify

In [3]:
belly_button_df = pd.read_csv("Belly_Button_Biodiversity_Metadata.csv")
biodiversity_df = pd.read_csv("belly_button_biodiversity_otu_id.csv")
samples_df = pd.read_csv("belly_button_biodiversity_samples.csv")
metadata_df = pd.read_csv("metadata_columns.csv")

## Step 1

In [4]:
belly_button_df.head(2)

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
biodiversity_df.head(2)

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...

In [6]:
samples_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
samples_df.columns

Index(['otu_id', 'BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946',
       'BB_947', 'BB_948', 'BB_949',
       ...
       'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574',
       'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601'],
      dtype='object', length=154)

In [11]:
samples_df_ready = samples_df.drop("otu_id", axis=1)

In [12]:
samples_df_ready.head(2)

,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
samples_df_1 = samples_df_ready.columns.tolist()

## Step 2

In [16]:
biodiversity_df.head(2)

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...

In [17]:
biodiversity_df.columns

Index(['otu_id', 'lowest_taxonomic_unit_found'], dtype='object')

In [19]:
biodiversity_df["lowest_taxonomic_unit_found"].head(2)

0    Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1    Archaea;Euryarchaeota;Halobacteria;Halobacteri...
Name: lowest_taxonomic_unit_found, dtype: object

In [1]:
# biodiversity_df["lowest_taxonomic_unit_found"].tolist()

## Step 3

In [22]:
belly_button_df.head(2)

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
belly_button_json = belly_button_df[["AGE", "BBTYPE", "ETHNICITY", "GENDER", "LOCATION", "SAMPLEID"]]

In [37]:
belly_button_json.head()

    AGE BBTYPE              ETHNICITY GENDER         LOCATION  SAMPLEID
0  24.0      I              Caucasian      F      Beaufort/NC       940
1  34.0      I  Caucasian/Midleastern      F       Chicago/IL       941
2  49.0      I              Caucasian      F         Omaha/NE       943
3  44.0      I               European      M      NewHaven/CT       944
4  48.0      I              Caucasian      F  Philidelphia/PA       945

In [38]:
user_input = 'BB_940'

In [41]:
user_input = int(user_input.strip('BB_'))

In [44]:
belly_input = belly_button_json[belly_button_json["SAMPLEID"] == user_input]

In [48]:
belly_input.to_dict(orient='records')

[{'AGE': 24.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Beaufort/NC',
  'SAMPLEID': 940}]

## Step 4

In [52]:
belly_frequency = belly_button_df[["WFREQ", "SAMPLEID"]]

In [53]:
user_input_2 = 'BB_940'

In [54]:
user_input_2 = int(user_input_2.strip('BB_'))

In [63]:
belly_frequency.set_index('SAMPLEID', inplace = True)

In [64]:
belly_frequency.loc[user_input, 'WFREQ']

2.0

## Step 5

In [99]:
samples_df.head(5)

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
samples_df['BB_940'].describe()

count    3673.000000
mean        0.391233
std         4.820888
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       163.000000
Name: BB_940, dtype: float64

In [4]:
user_input_3 = 'BB_940'

In [5]:
samples_df[["otu_id", user_input_3]].head(3)

   otu_id  BB_940
0       1     0.0
1       2     0.0
2       3     0.0

In [6]:
samples_ready = samples_df[["otu_id", user_input_3]]

In [7]:
samples_filter = samples_ready[samples_ready[user_input_3] > 0]

In [8]:
samples_filter.columns = ["otu_id", "sample_values"]

In [9]:
samples_filter.head(2)

    otu_id  sample_values
10      11            1.0
18      19            1.0

In [10]:
sorted_samples = samples_filter.sort_values(by='sample_values', ascending = False)

In [11]:
sorted_samples.head(2)

      otu_id  sample_values
1166    1167          163.0
2858    2859          126.0

In [12]:
my_dict = [{'otu_ids': list(sorted_samples['otu_id'].values),
                           'sample_values': list(sorted_samples['sample_values'].values)
           }]

In [2]:
# my_dict

In [15]:
def samples(sample):
    samples_df[["otu_id", sample]]
    samples_ready = samples_df[["otu_id", sample]]
    samples_filter = samples_ready[samples_ready[sample] > 0]
    samples_filter.columns = ["otu_id", "sample_values"]
    sorted_samples = samples_filter.sort_values(by='sample_values', ascending = False)
    my_dict = [{'otu_ids': list(sorted_samples['otu_id'].values),
                           'sample_values': list(sorted_samples['sample_values'].values)
           }]
    return my_dict

In [3]:
# samples("BB_940")